@import "../../commons.scss";

.paperclip {
  display: flex;
  width: 4rem;
  margin: auto;
  margin-top: 1rem;
  position: relative;
  top: 1rem;
  @include media-min("tablet-up") {
    margin-top: 0;
  }
}
.indredient-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 0.8rem;
  width: 15rem;
  height: 25rem;
  padding: 0.6rem;
  background-color: $warm-white;
  border-radius: 20px;
  @include media-min("phone-up") {
    width: 22rem;
    height: 30rem;
  }
  @include media-min("tablet-up") {
    height: 32rem;
    width: 19.5rem;
  }

  .ingredient-title {
    text-align: center;
  }

  .list-wrapper {
    margin-top: 0;
    overflow-y: auto;
    padding-left: 0;
    @include media-min("phone-up") {
      height: 24.5rem;
      margin: auto;
    }
  }
  .check-icon {
    width: 2.5rem;
    position: relative;
    top: 1rem;
    margin-right: 0.2rem;
  }
  .checkbox {
    display: none;
  }
  .ingredient-list {
    list-style: none;
    margin-bottom: 0.2rem;
    @include media-min("phone-up") {
      font-size: 0.9rem;
      width: 17rem;
    }
    @include media-min("tablet-up") {
      font-size: 0.9rem;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-yellow;
    border-radius: 6px;
    border: 1px solid $light-purple;
  }
  ::-webkit-scrollbar-track {
    background-color: $light-blue;
    border-radius: 6px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }
}
