@import "../../commons.scss";

.tip-section {
  @include media-min("tablet-up") {
    margin-top: 2.5rem;
  }
  .pin-icon {
    display: flex;
    width: 3rem;
    position: relative;
    top: 1.6rem;
    left: 13.5rem;
    @include media-min("tablet-up") {
      left:10rem;
      top: 2rem;
    }
  }
  .tip-main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 0.8rem;
    width: 15rem;
    height: 22rem;
    padding: 0.6rem;
    background-color: $warm-white;
    border-radius: 20px;
    @include media-min("tablet-up") {
      height: 28rem;
      width: 23rem;
      margin-bottom: 0;
    }
    .tip-main-title {
      text-align: center;
      margin-bottom: 0;
    }
    .tip-container {
      margin-top: 0;
      overflow-y: auto;
      padding: 0.2rem;
      @include media-min("tablet-up") {
        padding-right: 0.5rem;
      }
      .tip-wrapper {
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-radius: 30px;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        .tip-header {
          display: flex;
          margin: auto;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          @include media-min("tablet-up") {
            width: 17rem;
          }
          .tip-icon {
            width: 2.5rem;
          }

          .tip-title {
            width: 6rem;
            margin: auto;
            @include media-min("tablet-up") {
              width: 13rem;
            }
          }
        }
        ul {
          padding-left: 1rem;
          .step-list {
            margin-right: 0;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-yellow;
    border-radius: 6px;
    border: 1px solid $light-purple;
  }
  ::-webkit-scrollbar-track {
    background-color: $light-blue;
    border-radius: 6px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }
}
// @media screen and (min-width: 1024px) {
//   .pin-icon {
//     display: block;
//     left: 37.5vw;
//     z-index: 1;
//   }
//   .tip-main-container {
//     margin-right: 10vw;
//     width: 38vw;
//     max-width: 34.5rem;
//     min-height: 31rem;
//     height: 40.3rem;
//     .tip-container {
//       padding: 0.7rem;
//     }
//     .tip-main-title {
//       font-size: 1.4rem;
//     }
//     .tip-title {
//       font-size: 1rem;
//     }
//     .step-list {
//       font-size: 1.1rem;
//     }
//   }
// }
// @media screen and (min-width: 1500px) {
//   .tip-main-container {
//     width: 42rem;
//     max-width: 100rem;
//     .tip-main-title {
//       font-size: 1.8rem;
//     }
//     .tip-title {
//       font-size: 1.4rem;
//     }
//     .step-list {
//       font-size: 1.3rem;
//     }
//     .tip-icon {
//       width: 4rem;
//     }
//   }
// }
