@import "../../commons.scss";

.pin-icon {
  display: flex;
  width: 4rem;
  margin: auto;
  position: relative;
  top: 2rem;
  left: 9rem;
}
.tip-main-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  width: 18rem;
  height: 25rem;
  padding: 1.5rem;
  background-color: $warm-white;
  border-radius: 20px;
  margin: auto;

  .tip-main-title {
    text-align: center;
  }
  .tip-container {
    margin-top: 0;
    overflow-y: auto;
    padding: 0.5rem;
  }
  .tip-wrapper {
    display: grid;
    border-style: solid;
    border-radius: 30px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-template-areas:
      "icon title"
      "steps steps";
    grid-template-columns: auto 1fr;
    column-gap: 0.8rem;
  }

  .tip-icon {
    width: 2.5rem;
    grid-area: icon;
  }

  .tip-title {
    margin: auto;
    grid-area: title;
  }

  .step-list {
    grid-area: steps;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-yellow;
    border-radius: 6px;
    border: 1px solid $light-purple;
  }
  ::-webkit-scrollbar-track {
    background-color: $light-blue;
    border-radius: 6px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 1024px) {
  .pin-icon {
    display: block;
    left: 37.5vw;
    z-index: 1;
  }
  .tip-main-container {
    margin-right: 10vw;
    width: 38vw;
    max-width: 34.5rem;
    min-height: 31rem;
    height: 40.3rem;
    .tip-container {
      padding: 0.7rem;
    }
    .tip-main-title {
      font-size: 1.4rem;
    }
    .tip-title {
      font-size: 1rem;
    }
    .step-list {
      font-size: 1.1rem;
    }
  }
}
@media screen and (min-width: 1500px) {
  .tip-main-container {
    width: 42rem;
    max-width: 100rem;
    .tip-main-title {
      font-size: 1.8rem;
    }
    .tip-title {
      font-size: 1.4rem;
    }
    .step-list {
      font-size: 1.3rem;
    }
    .tip-icon {
      width: 4rem;
    }
  }
}
