@import "../../commons.scss";

.nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 10vw;
  margin-top: 0;

  .nav-box {
    list-style: none;
    background-color: $warm-white;
    width: 10.2rem;
    text-align: center;
    padding: 0.5rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-radius: 20px;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  button.nav-link {
    background-color: $warm-white;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      font-weight: bold;
      font-size: 0.95rem;
      cursor: pointer;
    }
  }
}
