@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$light-blue: #ddf3f8;
$light-green: #c2f6d7;
$light-red: #fde3f2;
$light-yellow: #fbef88;
$light-purple: #c7d6f3;

$green: #32bea6;
$red: #ff3d00;

$warm-white: #f5f5f5;
$light-grey: #d9d9d9;
$black: #000000;

body {
  background-color: $light-blue;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
