@import "../../commons.scss";
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -3.5rem;
  right: 0.5rem;
  @include media-min("phone-up") {
    top: -2.6rem;
  }
  @include media-min("tablet-up") {
    top: -3.2rem;
    right: 1rem;
  }
  @include media-min("desktop-up") {
    top: -2rem;
    right: 4rem;
  }
  .user_name {
    position: relative;
    top: 4.2rem;
    right: 0.1rem;
    z-index: 2;
    font-size: 1.2rem;
    font-weight: 500;
    color: $warm-white;
    text-align: center;
    cursor: pointer;
    @include media-min("tablet-up") {
      top: 5.1rem;
      font-size: 1.4rem;
    }
  }

  .avatar {
    position: relative;
    width: 4.5rem;
    rotate: 40deg;
    z-index: 1;
    right: 0.1rem;
    @include media-min("tablet-up") {
      width: 5.5rem;
    }
  }

  .on_button {
    position: absolute;
    top: 4rem;
    left: 0.5rem;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 4.5rem;
    background-color: $light-red;
    border-radius: 50%;
    @include media-min("tablet-up") {
      top: 4.9rem;
      left: 0.7rem;
      width: 4.7rem;
    }
    @include media-min("desktop-up") {
      left: 0.7rem;
    }
  }
}

.profile:hover .on_button {
  opacity: 1;
  cursor: pointer;
}
