@import "../commons.scss";

.admin-tips-page {
  .admin-title {
    font-weight: 400;
    border: 1px solid $black;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    background-color: $light-green;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    font-size: 1rem;
    width: 15rem;
    @include media-min("tablet-up") {
      width: 20rem;
      font-size: 2rem;
    }
  }
  .manage-title {
    display: flex;
    margin: auto;
    align-items: center;
    width: 11rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    cursor: default;
    @include media-min("phone-up") {
      font-size: 1.1rem;
      width: 12rem;
    }
    @include media-min("tablet-up") {
      width: 54rem;
    }
    .gear-icon {
      width: 2rem;
      margin-right: 0.2rem;
      @include media-min("tablet-up") {
        width: 2.5rem;
      }
    }
  }
  .admin-tips-section {
    background-color: $light-blue;
    width: 17rem;
    margin: auto;
    margin-bottom: 1rem;
    @include media-min("phone-up") {
      width: 25rem;
    }
    @include media-min("tablet-up") {
      background-color: $warm-white;
      padding: 3rem;
    }
  }
}
