@import "../commons.scss";

.home-header {
  display: flex;
  margin: auto;
  width: 85vw;
  margin-top: 6vh;
  background-color: $light-green;
  border-radius: 20px;
  padding: 1rem;
  .catch-phrase {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .bubbles-logo {
    width: 2.2rem;
  }
}

@media screen and (min-width: 821px) {
  .home-header {
    justify-content: center;
    padding: 5rem;
    width: 50vw;
    margin-top: 7vh;
    border-radius: 30px;
    .catch-phrase {
      margin-left: 2rem;
    }
    .bubbles-logo {
      width: 3rem;
      margin-left: 1rem;
    }
  }
}
