@import "../commons.scss";

.connexion-title {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-width: 1px;
  padding: 1.5rem;
  background-color: $light-red;
  width: 12rem;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.form-area {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;

  .input-container {
    display: flex;
    align-items: center;
    width: 19em;
    margin: auto;
    margin-bottom: 1.5rem;

    .text-form {
      font-size: 1rem;
      font-weight: 500;
      width: 8rem;
    }

    .form-input {
      border: solid 3px $light-purple;
      border-radius: 15px;
      padding: 0.6rem;
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    padding: 1.2rem;
    background-color: $green;
    width: 15rem;
    border-radius: 15px;
    border-style: none;
    color: $warm-white;
    cursor: pointer;
    font-size: 1rem;
    .button-icon {
      width: 1.5rem;
      margin-left: 0.3rem;
    }
  }
}
@media screen and (min-width: 821px) {
  .connexion-title {
    padding: 2rem;
    border-radius: 20px;
    width: 18rem;
    font-size: 1.2rem;
  }
  .form-area {
    margin-top: 6rem;
    max-width: 50rem;
    .input-container {
      width: 30rem;
      .text-form {
        font-size: 1.2rem;
        width: 15rem;
        margin-bottom: 2rem;
      }
      .form-input {
        width: 22rem;
        padding: 0.8rem;
        margin-bottom: 2rem;
      }
    }
    .submit-button {
      margin-top: 8rem;
      font-size: 1.2rem;
      width: 22rem;
    }
  }
}
