@import "../commons.scss";

.connexion-title {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-width: 1px;
  padding: 1.5rem;
  background-color: $light-red;
  width: 12rem;
  border-radius: 15px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  @include media-min("phone-up") {
    margin-top: 6rem;
  }
  @include media-min("tablet-up") {
    padding: 2rem;
    border-radius: 20px;
    width: 18rem;
    font-size: 1.3rem;
  }
  @include media-min("desktop-up") {
    margin-top: 2rem;
  }
}

.form-area {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  @include media-min("tablet-up") {
    margin-top: 6rem;
    max-width: 50rem;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
    @include media-min("tablet-up") {
      flex-direction: row;
      width: 30rem;
    }

    .text-form {
      font-size: 1rem;
      font-weight: 500;
      min-width: 11rem;
      margin-bottom: 0.6rem;
      @include media-min("tablet-up") {
        font-size: 1.2rem;
        width: 15rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
    }
    .form-input {
      border: solid 3px $light-purple;
      border-radius: 15px;
      padding: 0.6rem;
      min-width: 11rem;
      @include media-min("tablet-up") {
        width: 22rem;
        padding: 0.8rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
      }
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    padding: 1.2rem;
    background-color: $green;
    width: 15rem;
    border-radius: 15px;
    border-style: none;
    color: $warm-white;
    cursor: pointer;
    font-size: 1rem;
    @include media-min("phone-up") {
      margin-top: 6rem;
    }
    @include media-min("tablet-up") {
      margin-top: 8rem;
      font-size: 1.3rem;
      width: 22rem;
    }
    @include media-min("desktop-up") {
      margin-top: 4rem;
    }
    .button-icon {
      width: 1.5rem;
      margin-left: 0.3rem;
    }
  }
}
