@import "../commons.scss";
.tips-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  .content-wrapper {
    display: flex;
    flex-direction: column;
    @include media-min("tablet-up") {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      margin: auto;
      width: 45.5rem;
    }
  }
}
