@import "../commons.scss";

.paperclip {
  display: flex;
  width: 4rem;
  margin: auto;
  margin-top: 1.5rem;
  position: relative;
  top: 1rem;
}
.indredient-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  width: 18rem;
  height: 25rem;
  padding: 1.5rem;
  background-color: $warm-white;
  border-radius: 20px;
  margin: auto;

  .ingredient-title {
    text-align: center;
  }

  .list-wrapper {
    margin-top: 0;
    overflow-y: auto;
  }
  .check-icon {
    width: 2.5rem;
    position: relative;
    top: 1rem;
    margin-right: 0.5rem;
  }
  .checkbox {
    display: none;
  }
  .ingredient-list {
    list-style: none;
    margin-bottom: 0.2rem;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-yellow;
    border-radius: 6px;
    border: 1px solid $light-purple;
  }
  ::-webkit-scrollbar-track {
    background-color: $light-blue;
    border-radius: 6px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 1024px) {
  .paperclip {
    position: absolute;
    top: 6.5rem;
    margin-left: 10rem;
    left: 7vw;
    z-index: 1;
  }
  .indredient-container {
    position: absolute;
    top: 10.8rem;
    left: 7vw;
    width: 21.5rem;
    height: 48.1rem;
    .ingredient-title {
      font-size: 1.4rem;
    }

    .check-icon {
      width: 3rem;
      margin-right: 1rem;
    }
    .ingredient-list {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
}
