@import "../commons.scss";

.accordion_container {
  margin: auto;
  margin-top: 3vh;
  width: 85vw;
  background-color: $warm-white;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid $black;
}

.accordion_title {
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  background-color: $warm-white;
  &:hover {
    background-color: $light-yellow;
  }
}

.accordion_content {
  height: 0px;
  transition: height 0.2s ease-in;
}

.show_content {
  height: 100px;
  opacity: 1;
  visibility: visible;
  transition: height 0.2s ease-out;
}

.list_item_container {
  width: 100%;
  padding-left: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-top: 1px solid $light-purple;
}

.accordion_content .list_item_container:first-of-type {
  border-top: 3px solid $light-purple;
}

.list_item_container p {
  font-weight: 400;
  font-size: 14px;
}

.list_item_container:hover > p {
  font-weight: 600;
}
