@import "../commons.scss";

.account-container {
  display: flex;
  margin-top: 10vh;
  gap: 0.5rem;

  .connexion-button {
    border-width: 1px;
    padding: 1.5rem;
    background-color: $light-red;
    border-radius: 15px;
    border-style: solid;
    width: 20rem;
    cursor: pointer;
    font-size: 0.8rem;
  }
  .connexion-button:active {
    transform: translateY(2px);
    box-shadow: 0 0px 2px rgba(0.2, 0.2, 0.2, 0.2);
  }
  .inscription-button {
    border-width: 1px;
    background-color: $light-yellow;
    border-radius: 15px;
    border-style: solid;
    width: 20rem;
    cursor: pointer;
    font-size: 0.8rem;
  }
  .inscription-button:active {
    transform: translateY(2px);
    box-shadow: 0 0px 2px rgba(0.2, 0.2, 0.2, 0.2);
  }
}
.account-phrase {
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
  margin-top: 6vh;
  font-size: 1rem;
  .lamp-logo {
    width: 2rem;
    margin-right: 0.8rem;
  }
}
.visitor-button {
  display: block;
  margin: auto;
  padding: 1.5rem;
  background-color: $light-purple;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  width: 12.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}
.visitor-button:active {
  transform: translateY(2px);
  box-shadow: 0 0px 2px rgba(0.2, 0.2, 0.2, 0.2);
}

.visitor-phrase {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: auto;
  margin-top: 6vh;
  font-size: 1rem;
  .plant-logo {
    width: 2rem;
    margin-right: 0.8rem;
  }
}

@media screen and (min-width: 821px) {
  .account-container {
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;

    .connexion-button {
      padding: 2rem;
      border-radius: 20px;
      border-style: none;
      font-size: 1rem;
      &:hover {
        border-style: solid;
        border-width: 1px;
      }
    }
    .inscription-button {
      border-radius: 20px;
      border-style: none;
      font-size: 1rem;
      &:hover {
        border-style: solid;
        border-width: 1px;
      }
    }
  }
  .account-phrase {
    margin-bottom: 4rem;
    margin-top: 1.2rem;
    .lamp-logo {
      width: 3rem;
      margin-right: 1rem;
    }
  }
  .visitor-button {
    padding: 2rem;
    border-radius: 20px;
    border-style: none;
    width: 20rem;
    font-size: 1rem;
    &:hover {
      border-style: solid;
      border-width: 1px;
    }
  }
  .visitor-phrase {
    margin-top: 1.2rem;
    .plant-logo {
      width: 3rem;
      margin-right: 1rem;
    }
  }
}
