@import "../commons.scss";

.search-bar {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2vh;
}
.search-icon {
  position: relative;
  left: 2.5rem;
  width: 1.3rem;
}
.search-input {
  width: 80vw;
  border-radius: 15px;
  border: none;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
  margin-right: 1.3rem;
  color: $black;
}
@media screen and (min-width: 821px) {
  .search-bar {
    justify-content: end;
    margin-top: 1vh;
  }
  .search-icon {
    left: 3rem;
    width: 2rem;
  }
  .search-input {
    width: 39vw;
    min-width: 25rem;
    max-width: 35rem;
    margin-right: 10vw;
    border-radius: 18px;
    border: none;
    padding: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
  }
}
